@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
  --index: (1vh + 1vw);
  --colorBlue: #0e0774;
  --cololBlack: #070707;
  --fontPoppins: "Poppins", sans-serif;
  --colorBg: rgb(233, 232, 232);
  --colorCardSh: rgba(233, 232, 232, 0.6);
  --colorWhite: #fff;
  --cololGray: gray;
  --colorDane: #ffdddd;
  --colorRed: red;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.HeaderTitleWrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(var(--index) * 4);
  font-family: var(--fontPoppins);
}

.HeaderBg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
.HeaderBg img {
  width: 40%;
  height: 100%;
  -webkit-filter: blur(calc(var(--index) * 0.05));
          filter: blur(calc(var(--index) * 0.05));
}
.HeaderBg img:first-child {
  -webkit-mask: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  -webkit-mask: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
          mask: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
          mask: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.HeaderBg img:last-child {
  -webkit-mask: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  -webkit-mask: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
          mask: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
          mask: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.HeaderTitle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--colorBlue);
  font-size: calc(var(--index) * 2);
  font-weight: 600;
}

.HeaderList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--fontPoppins);
  font-weight: 520;
  color: var(--colorBlue);
  font-size: calc(var(--index) * 1.2);
  padding: calc(var(--index) * 0.5);
}
.HeaderList section {
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.HeaderList section:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.HeaderIndividual {
  margin-right: calc(var(--index) * 2);
}

.HeaderLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.langBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop-down-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  width: calc(var(--index) * 5);
}

#LangArrow {
  width: calc(var(--index));
  fill: var(--colorBlue);
  fill: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20%;
}

#LangBtnImg,
.language-img {
  width: calc(var(--index) * 1.5);
  width: 40%;
  border-radius: calc(var(--index) * 0.2);
}

#LangBtnTitle,
.ListLanguage-title {
  width: 30%;
  font-family: var(--fontPoppins);
  font-size: calc(var(--index) * 0.8);
  color: var(--colorBlue);
  font-weight: 600;
  margin-left: calc(var(--index) * 0.3);
}

.language-menu {
  position: absolute;
  margin-top: calc(var(--index) * 6);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.language-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  margin-left: calc(var(--index) * -0.3);
}
.language-item:last-child {
  margin-top: calc(var(--index));
}

.headerNavMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: var(--fontPoppins);
  font-size: calc(var(--index) * 1.2);
}

.headerNavMenuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.headerNavMenuBtn svg {
  fill: var(--colorBlue);
  width: calc(var(--index) * 2);
  height: calc(var(--index) * 2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.headerNavMenuBtn svg:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.headerNavMenuMenu {
  padding: 0 calc(var(--index));
  position: absolute;
  top: calc(var(--index) * 2.2);
  background-color: var(--colorBg);
  border-radius: calc(var(--index));
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.headerNavMenuList li {
  margin: calc(var(--index) * 0.7) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: calc(var(--index));
}
.headerNavMenuList li a {
  width: 100%;
  height: 100%;
  color: var(--colorBlue);
  text-align: center;
  border-radius: inherit;
  padding: calc(var(--index) * 0.7);
  white-space: nowrap;
}
.headerNavMenuList li a:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: var(--colorBlue);
  color: var(--colorWhite);
}

.Show {
  visibility: visible;
  opacity: 1;
}

.HeaderGeneralWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: calc(var(--index) * 0.3);
  background-color: var(--colorBg);
}

.HeaderGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.HeaderEntity {
  display: none;
}

.mainGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--fontPoppins);
  width: 90%;
  margin-top: calc(var(--index) * 2);
}

.mainGeneralText,
.mainGeneralImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainGeneralText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-right: 5%;
}

.lsgMainGeneralTextTitle {
  color: var(--colorBlue);
  font-size: calc(var(--index) * 1.7);
  margin-bottom: calc(var(--index) * 1.5);
  text-align: center;
}

.lsgMainGeneralTextContent {
  color: var(--cololBlack);
  text-align: center;
  font-size: calc(var(--index) * 1.3);
}

.mainGeneralImg {
  padding: 0;
  width: 50%;
}
.mainGeneralImg img {
  width: 100%;
  border-radius: calc(var(--index));
}

.functions {
  margin-top: calc(var(--index) * 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fontPoppins);
  width: 90%;
}

.lsgFunctionsTitle {
  font-size: calc(var(--index) * 2);
  font-weight: 600;
  color: var(--colorBlue);
}

.functionsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: calc(var(--index) * 2);
}

.functionContentCards1,
.functionContentCards2,
.functionContentCards3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(var(--index) * 2) 0;
  border-radius: calc(var(--index));
  -webkit-box-shadow: calc(var(--index)) calc(var(--index) * -1) calc(var(--index)) var(--colorCardSh);
          box-shadow: calc(var(--index)) calc(var(--index) * -1) calc(var(--index)) var(--colorCardSh);
}

.functionContentCardsImg {
  background-color: var(--colorBlue);
  width: calc(var(--index) * 8);
  height: calc(var(--index) * 8);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 calc(var(--index)) var(--colorBg);
          box-shadow: inset 0 0 calc(var(--index)) var(--colorBg);
}
.functionContentCardsImg svg {
  fill: var(--colorBg);
  width: calc(var(--index) * 5);
  height: calc(var(--index) * 3);
}

.functionContentCardsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--fontPoppins);
  margin-top: calc(var(--index));
}
.functionContentCardsText p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 70%;
}
.functionContentCardsText p span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--index) * 1.3);
  font-weight: 600;
  min-height: calc(var(--index) * 6);
  color: var(--colorBlue);
}
.functionContentCardsText p span:last-child {
  font-size: calc(var(--index));
  font-weight: 400;
  color: var(--cololBlack);
}

.documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: calc(var(--index) * 3);
  font-family: var(--fontPoppins);
}

.lsgDocumentsTitle {
  width: 70%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--colorBlue);
  font-weight: 600;
  font-size: calc(var(--index) * 2);
  margin-bottom: calc(var(--index) * 2);
}

.documentsDetail {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(var(--index) * 1.1);
}

.documentsDetailsListFirst,
.documentsDetailsListSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: disc;
  list-style-type: disc;
}

.documentsDetailsListFirst {
  margin-bottom: calc(var(--index) * 2);
}

.documentsDetailsListTitle1,
.documentsDetailsListTitle2 {
  font-size: calc(var(--index) * 1.1);
  font-weight: 600;
  padding: calc(var(--index)) 0;
}

.documentsDetailsItem {
  margin: calc(var(--index) * 0.3) 0;
}
.documentsDetailsItem ul {
  list-style: disc;
  list-style-type: square;
  margin: calc(var(--index)) 0 calc(var(--index)) calc(var(--index) * 3);
  display: none;
}
.documentsDetailsItem ul li {
  margin: calc(var(--index) * 0.5) 0;
  font-size: calc(var(--index) * 0.9);
}

.documentsDetailsMartgage,
.documentsDetailsInsurance,
.documentsDetailsPension,
.documentsDetailsGifts,
.documentsDetailsUnion,
.documentsDetailsExams,
.documentsDetailsTaxpayer,
.documentsDetailsWife,
.documentsDetailsDisWife,
.documentsDetailsDisPensioner,
.documentsDetailsDisabled,
.documentsDetailsStudent,
.documentsDetailsSchool,
.documentsDetailsChildren {
  font-size: calc(var(--index));
  text-decoration: underline;
  cursor: pointer;
}

.calculationTeg {
  min-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fontPoppins);
  font-size: calc(var(--index) * 1.8);
  font-weight: 600;
  color: var(--colorBg);
  background-color: var(--colorBlue);
  border-radius: calc(var(--index) * 2);
  padding: calc(var(--index));
  margin-top: calc(var(--index) * 3);
  margin-bottom: calc(var(--index));
  cursor: pointer;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.calculationTeg:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: inset 0 0 calc(var(--index) * 0.8) var(--colorBg);
          box-shadow: inset 0 0 calc(var(--index) * 0.8) var(--colorBg);
}

.calculationTegText,
.calculationTegText1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.price {
  margin-top: calc(var(--index) * 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fontPoppins);
  width: 90%;
}

.lsgPriceTitle {
  font-size: calc(var(--index) * 2);
  font-weight: 600;
  color: var(--colorBlue);
}

.priceContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(var(--index) * 2.2);
  margin-top: calc(var(--index) * 2);
}

.priceContentLow,
.priceContentMedium,
.priceContentHigh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0, auto;
  width: calc(var(--index) * 19);
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(var(--index) * 2) 0;
  border-radius: calc(var(--index));
  -webkit-box-shadow: calc(var(--index)) calc(var(--index) * -1) calc(var(--index)) var(--colorCardSh);
          box-shadow: calc(var(--index)) calc(var(--index) * -1) calc(var(--index)) var(--colorCardSh);
}

.priceSVG {
  background-color: var(--colorBlue);
  width: calc(var(--index) * 8);
  height: calc(var(--index) * 8);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 calc(var(--index)) var(--colorBg);
          box-shadow: inset 0 0 calc(var(--index)) var(--colorBg);
}
.priceSVG svg {
  fill: var(--colorBg);
  width: calc(var(--index) * 6);
  height: calc(var(--index) * 6);
}

.priceContentCont {
  width: 100%;
  margin-top: calc(var(--index) * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.priceContentList {
  width: 75%;
  list-style: disc;
  font-weight: 500;
  font-size: calc(var(--index) * 0.9);
  height: calc(var(--index) * 15);
}

.priceContentItems {
  width: 100%;
  padding: calc(var(--index) * 0.3) 0;
}
.priceContentItems span {
  max-width: 80%;
}

.priceCena {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--colorBlue);
  width: calc(var(--index) * 8);
  height: calc(var(--index) * 3);
  border-radius: calc(var(--index) * 0.8);
  color: var(--colorBg);
  font-family: inherit;
  font-size: calc(var(--index) * 1.2);
  letter-spacing: calc(var(--index) * 0.15);
  -webkit-box-shadow: inset 0 0 calc(var(--index) * 0.5) var(--colorBg);
          box-shadow: inset 0 0 calc(var(--index) * 0.5) var(--colorBg);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.priceCena:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fontPoppins);
  margin: calc(var(--index) * 4) 0;
}

.lsgContactsTitle {
  width: 70%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--colorBlue);
  font-weight: 600;
  font-size: calc(var(--index) * 2);
  margin-bottom: calc(var(--index) * 2);
}

.SendEmailForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  color: var(--colorBlue);
}
.SendEmailForm label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: calc(var(--index) * 1.2);
  margin: calc(var(--index) * 0.3) calc(var(--index) * 2);
  font-weight: 600;
}
.SendEmailForm input,
.SendEmailForm textarea {
  border-radius: calc(var(--index) * 0.3);
  padding: calc(var(--index) * 0.3);
  border: calc(var(--index) * 0.1) solid var(--colorBlue);
  color: var(--colorBlue);
  font-size: calc(var(--index));
  font-weight: 400;
}
.SendEmailForm input:focus,
.SendEmailForm textarea:focus {
  outline: none;
  border: calc(var(--index) * 0.15) solid var(--colorBlue);
}
.SendEmailForm textarea {
  padding: calc(var(--index));
}

.EmailButtons {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(var(--index));
}

.emailButtonsSubmitBut,
.emailButtonsCencelBut {
  width: 40%;
  padding: calc(var(--index) * 0.5);
  font-size: calc(var(--index));
  font-weight: 500;
  border-radius: calc(var(--index) * 0.3);
  border: none;
  background-color: var(--colorBlue);
  color: var(--colorBg);
  letter-spacing: calc(var(--index) * 0.15);
  -webkit-box-shadow: inset 0 0 calc(var(--index) * 0.5) var(--colorBg);
          box-shadow: inset 0 0 calc(var(--index) * 0.5) var(--colorBg);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.emailButtonsSubmitBut:hover,
.emailButtonsCencelBut:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mainWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerContent {
  width: 100%;
  height: calc(var(--index) * 3);
  background-color: var(--colorBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--colorBg);
  font-family: var(--fontPoppins);
  -webkit-box-shadow: 0 0 calc(var(--index) * 2) var(--colorBlue);
          box-shadow: 0 0 calc(var(--index) * 2) var(--colorBlue);
}
.footerContent a {
  width: calc(var(--index) * 5);
  height: 100%;
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(var(--index) * 0.8);
  padding: calc(var(--index) * 0.1);
  color: var(--colorBg);
  border-radius: calc(var(--index) * 0.5);
  -webkit-box-shadow: inset 0 0 calc(var(--index) * 0.3) var(--colorBg);
          box-shadow: inset 0 0 calc(var(--index) * 0.3) var(--colorBg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footerContent a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Footer {
  width: 100%;
}

.worksProgCalcFree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.worksProgCalcFreeWrap {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: calc(var(--index) * 0.1) solid var(--cololBlack);
  padding: calc(var(--index) * 0.5);
  border-radius: calc(var(--index));
}

.workObjTittle {
  font-size: calc(var(--index) * 1.1);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(var(--index));
  text-align: center;
}

.workObj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(var(--index) * 0.3);
}

.workRough,
.workTax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 40%;
}

.workTax {
  margin-left: calc(var(--index) * 5);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.svgContainerCloseWork {
  width: calc(var(--index) * 1.5);
  height: calc(var(--index) * 1.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(var(--index));
  cursor: pointer;
}
.svgContainerCloseWork svg {
  width: 100%;
  height: 100%;
  fill: var(--colorRed);
}

.workRoughLabel,
.workTaxLabel {
  margin-bottom: calc(var(--index) * 0.2);
  font-size: calc(var(--index));
}

.workRoughInput,
.workTaxInput {
  padding: calc(var(--index) * 0.2) calc(var(--index) * 0.5);
  border-radius: calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 0.7);
}

.workRoughSymbolKC,
.workTaxSymbolKC {
  position: absolute;
  right: 0;
  margin-top: calc(var(--index) * 1.6);
  margin-right: calc(var(--index) * 0.5);
  font-size: calc(var(--index) * 0.8);
}

.addMoreWorkButton {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: calc(var(--index) * 0.5);
  padding: calc(var(--index) * 0.1);
  font-size: calc(var(--index) * 0.8);
  border-radius: calc(var(--index) * 0.5);
}

.wifeProgCalcFreeWrap {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: calc(var(--index) * 0.1) solid var(--cololBlack);
  padding: calc(var(--index) * 0.5);
  border-radius: calc(var(--index));
  margin-top: calc(var(--index) * 0.5);
}

.wifeProgCalcFree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.wifeObjTittle {
  font-size: calc(var(--index));
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: calc(var(--index));
}

.wifeObj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: calc(var(--index));
}

.wifeMonth {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wifeMonthLab {
  width: 65%;
}

.wifeMonthInp {
  width: 15%;
}

.wifeZTP {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wifeZTPInp {
  width: calc(var(--index) * 1.2);
  height: calc(var(--index) * 1.2);
  margin-left: calc(var(--index));
}

.svgContainerCloseWife {
  width: calc(var(--index) * 1.5);
  height: calc(var(--index) * 1.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.svgContainerCloseWife svg {
  width: 100%;
  height: 100%;
  fill: var(--colorRed);
}

.addWifeButton {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(var(--index) * 0.1);
  padding: calc(var(--index) * 0.1);
  font-size: calc(var(--index) * 0.8);
  border-radius: calc(var(--index) * 0.5);
}

.childProgCalcFreeWrap {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: calc(var(--index) * 0.1) solid var(--cololBlack);
  padding: calc(var(--index) * 0.5);
  border-radius: calc(var(--index));
  margin-top: calc(var(--index) * 0.5);
}

.childProgCalcFree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.childObjTittle {
  font-size: calc(var(--index));
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(var(--index));
  text-align: center;
}

.childObj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: calc(var(--index));
  margin-bottom: calc(var(--index) * 0.5);
}

.childObjTittleBlock {
  font-weight: 600;
  font-size: calc(var(--index));
  margin: calc(var(--index) * 0.3) 0 calc(var(--index) * 0.5) 0;
}

.childObjContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.childMonth {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.childMonthLab {
  width: 65%;
}

.childMonthInp {
  width: 15%;
}

.childZTP {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.childZTPInp {
  width: calc(var(--index) * 1.2);
  height: calc(var(--index) * 1.2);
  margin-left: calc(var(--index));
}

.svgContainerCloseChild {
  width: calc(var(--index) * 1.5);
  height: calc(var(--index) * 1.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.svgContainerCloseChild svg {
  width: 100%;
  height: 100%;
  fill: var(--colorRed);
}

.addChildButton {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: calc(var(--index) * 0.1);
  padding: calc(var(--index) * 0.1);
  font-size: calc(var(--index) * 0.8);
  border-radius: calc(var(--index) * 0.5);
}

.ProgramDeclorationWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorCardSh);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--fontPoppins);
  font-size: calc(var(--index));
  display: none;
}
.ProgramDeclorationWrap input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: calc(var(--index) * 0.1) solid var(--cololBlack);
  border-radius: calc(var(--index) * 0.2);
  background-color: var(--colorWhite);
}
.ProgramDeclorationWrap input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: calc(var(--index) * 0.1) solid var(--cololBlack);
  border-radius: calc(var(--index) * 0.2);
  cursor: pointer;
}
.ProgramDeclorationWrap input[type=checkbox]:checked::before {
  content: "✓";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 900;
  color: var(--colorRed);
}

.ProgramDecloration {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90vh;
  background-color: var(--colorDane);
  opacity: 1;
  z-index: 2;
  border-radius: calc(var(--index));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ProgTittle {
  font-weight: 600;
  font-size: calc(var(--index) * 1.2);
  margin-bottom: calc(var(--index));
}

.ProgBazeInfo {
  width: 98%;
  padding: calc(var(--index));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
  position: relative;
}

.formInfoWrap {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}
.formInfoWrap::-webkit-scrollbar {
  width: calc(var(--index));
  border-radius: calc(var(--index));
}
.formInfoWrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: calc(var(--index));
}
.formInfoWrap::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: calc(var(--index));
}

#ProgCalcFree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: none;
}

.ProgExit {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: calc(var(--index) * 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.ProgExit svg {
  width: calc(var(--index) * 1.8);
  height: calc(var(--index) * 1.8);
}
.ProgExit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.progButtonBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: calc(var(--index) * 0.3);
  position: sticky;
  bottom: 0;
  margin-bottom: calc(var(--index) * 1.2);
  margin-top: calc(var(--index) * 0.5);
}

.buttonsSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(var(--index));
}

.ProgCalcFreeResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(var(--index) * 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--colorBlue);
  border-radius: calc(var(--index));
  padding: calc(var(--index) * 0.5) calc(var(--index));
  color: var(--colorBg);
  font-size: calc(var(--index) * 1.1);
  -webkit-box-shadow: inset 0 0 calc(var(--index) * 0.5) var(--colorBg);
          box-shadow: inset 0 0 calc(var(--index) * 0.5) var(--colorBg);
  opacity: 0.8;
  -webkit-transition: 1s;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.progButtonsButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: calc(var(--index) * 2);
}

#submitProgCalcFree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(var(--index) * 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  padding: calc(var(--index) * 0.4) calc(var(--index));
  border-radius: calc(var(--index) * 0.9);
  background-color: var(--colorBlue);
  color: var(--colorBg);
  fill: var(--colorBg);
  border: none;
  cursor: pointer;
}
#submitProgCalcFree svg {
  width: calc(var(--index) * 1.5);
  height: calc(var(--index) * 1.5);
}
#submitProgCalcFree span {
  text-align: center;
}

.ProgButtonPay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(var(--index) * 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--colorBlue);
  color: var(--colorBg);
  padding: calc(var(--index) * 0.4) calc(var(--index) * 1.5);
  border-radius: calc(var(--index) * 0.9);
  cursor: pointer;
}
.ProgButtonPay svg {
  fill: var(--colorBg);
  width: calc(var(--index) * 1.5);
  height: calc(var(--index) * 1.5);
}
.ProgButtonPay span {
  text-align: center;
}

.HeaderTitle {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.HeaderList,
.headerNavMenu,
.HeaderLang {
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.lsgFunctionsTitle,
.calculationTeg,
.lsgDocumentsTitle,
.lsgContactsTitle {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.functionContentCards1 {
  -webkit-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.functionContentCards2 {
  -webkit-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.functionContentCards3 {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.lsgPriceTitle {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.priceContentLow {
  -webkit-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.priceContentMedium {
  -webkit-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.priceContentHigh {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.documentsDetailsListFirst {
  -webkit-transform: translate(10%, 0%);
          transform: translate(10%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.documentsDetailsListSecond {
  -webkit-transform: translate(10%, 0%);
          transform: translate(10%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.SendEmailForm {
  -webkit-transform: translate(30%, 0%);
          transform: translate(30%, 0%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.footerItems {
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 660px) {
  .functionContentCards1 {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .functionContentCards2 {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  .functionContentCards3 {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  .documentsDetailsListFirst {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  .documentsDetailsListSecond {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  .priceContentLow {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  .priceContentMedium {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  .priceContentHigh {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
  .SendEmailForm {
    -webkit-transform: translate(0%, 30%);
            transform: translate(0%, 30%);
  }
}
._active {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  .functionContentCardsText p span:first-child {
    font-size: calc(var(--index) * 1.1);
  }
  .functionContentCardsText p span:last-child {
    font-size: calc(var(--index) * 0.95);
  }
}
@media screen and (max-width: 660px) {
  .drop-down-btn {
    width: calc(var(--index) * 7);
  }
  .language-menu {
    margin-top: calc(var(--index) * 10);
  }
  #LangBtnTitle,
  .ListLanguage-title {
    font-size: calc(var(--index) * 1.1);
  }
  .language-item:last-child {
    margin-top: calc(var(--index) * 2);
  }
  .priceContentList {
    font-size: calc(var(--index) * 0.8);
  }
  .priceContentItems {
    padding: calc(var(--index) * 0.2) 0;
  }
  .EmailButtons {
    width: 80%;
  }
  .emailButtonsSubmitBut,
  .emailButtonsCencelBut {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .mainGeneral {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainGeneralText,
  .mainGeneralImg {
    width: 100%;
  }
  .mainGeneralText {
    margin-bottom: calc(var(--index) * 2);
  }
  .lsgMainGeneralTextTitle {
    font-size: calc(var(--index) * 1.6);
    font-weight: 600;
  }
  .functionsContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .functionContentCards1,
  .functionContentCards2,
  .functionContentCards3 {
    max-width: 100%;
    margin-bottom: calc(var(--index) * 2);
  }
  .functionContentCardsText p span:first-child {
    font-size: calc(var(--index) * 1.6);
  }
  .functionContentCardsText p span:last-child {
    font-size: calc(var(--index) * 1.3);
  }
  .priceContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .priceContentLow,
  .priceContentMedium,
  .priceContentHigh {
    width: 100%;
    margin-bottom: calc(var(--index) * 2);
  }
  .priceContentList {
    width: 70%;
    font-size: calc(var(--index) * 1.2);
  }
  .documentsDetailsItem ul li {
    font-size: calc(var(--index) * 1.2);
  }
  .documentsDetailsMartgage,
  .documentsDetailsInsurance,
  .documentsDetailsPension,
  .documentsDetailsGifts,
  .documentsDetailsUnion,
  .documentsDetailsExams,
  .documentsDetailsTaxpayer,
  .documentsDetailsWife,
  .documentsDetailsDisWife,
  .documentsDetailsDisPensioner,
  .documentsDetailsDisabled,
  .documentsDetailsStudent,
  .documentsDetailsSchool,
  .documentsDetailsChildren {
    font-size: calc(var(--index) * 1.3);
  }
  .documentsDetailsListTitle1,
  .documentsDetailsListTitle2 {
    font-size: calc(var(--index) * 1.4);
  }
  .lsgContactsTitle {
    width: 90%;
  }
  .SendEmailForm {
    width: 80%;
  }
  .addMoreWorkButton,
  .addWifeButton,
  .addChildButton {
    width: 50%;
  }
  .workTaxInput,
  .workRoughInput {
    max-width: 70%;
  }
  .workRoughSymbolKC,
  .workTaxSymbolKC {
    margin-right: calc(var(--index) * 2.2);
  }
  .workTax {
    margin-left: calc(var(--index) * 2);
  }
}
.texts {
  visibility: hidden;
  opacity: 0;
  display: none;
}