.contacts {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontPoppins);
    margin: calc(var(--index)*4) 0;
}

.lsgContactsTitle {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--colorBlue);
    font-weight: 600;
    font-size: calc(var(--index) * 2);
    margin-bottom: calc(var(--index) * 2);
}

.SendEmailForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--colorBlue);

    label {
        display: flex;
        justify-content: flex-end;
        font-size: calc(var(--index)*1.2);
        margin: calc(var(--index)*0.3) calc(var(--index)*2);
        font-weight: 600;
    }

    input,
    textarea {
        border-radius: calc(var(--index)*0.3);
        padding: calc(var(--index)*0.3);
        border: calc(var(--index)*0.1) solid var(--colorBlue);
        color: var(--colorBlue);
        font-size: calc(var(--index));
        font-weight: 400;

        &:focus {
            outline: none;
            border: calc(var(--index)*0.15) solid var(--colorBlue);
        }
    }

    textarea {
        padding: calc(var(--index));
    }
}

.EmailButtons {
    width: 60%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--index));
}

.emailButtonsSubmitBut,
.emailButtonsCencelBut {
    width: 40%;
    padding: calc(var(--index)*0.5);
    font-size: calc(var(--index));
    font-weight: 500;
    border-radius: calc(var(--index)*0.3);
    border: none;
    background-color: var(--colorBlue);
    color: var(--colorBg);
    letter-spacing: calc(var(--index)*0.15);
    box-shadow: inset 0 0 calc(var(--index)*0.5) var(--colorBg);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}