.functions {
    margin-top: calc(var(--index) * 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontPoppins);
    width: 90%;
}

.lsgFunctionsTitle {
    font-size: calc(var(--index) * 2);
    font-weight: 600;
    color: var(--colorBlue);
}

.functionsContent {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--index) * 2);
}

.functionContentCards1,
.functionContentCards2,
.functionContentCards3 {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    align-items: center;
    padding: calc(var(--index) * 2) 0;
    border-radius: calc(var(--index));
    box-shadow: calc(var(--index)) calc(var(--index) * -1) calc(var(--index))
        var(--colorCardSh);
}

.functionContentCardsImg {
    background-color: var(--colorBlue);
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 calc(var(--index)) var(--colorBg);

    svg {
        fill: var(--colorBg);
        width: calc(var(--index) * 5);
        height: calc(var(--index) * 3);
    }
}

.functionContentCardsText {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--fontPoppins);
    margin-top: calc(var(--index));

    p {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 70%;

        span {
            &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: calc(var(--index) * 1.3);
                font-weight: 600;
                min-height: calc(var(--index) * 6);
                color: var(--colorBlue);
            }

            &:last-child {
                font-size: calc(var(--index));
                font-weight: 400;
                color: var(--cololBlack);
            }
        }
    }
}
