.price {
    margin-top: calc(var(--index)*3);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontPoppins);
    width: 90%;
}

.lsgPriceTitle {
    font-size: calc(var(--index)*2);
    font-weight: 600;
    color: var(--colorBlue);
}

.priceContent {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--index)*2.2);
    margin-top: calc(var(--index)*2);
}

.priceContentLow,
.priceContentMedium,
.priceContentHigh {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0, auto;
    width: calc(var(--index)*19);
    width: 90%;
    align-items: center;
    padding: calc(var(--index)*2) 0;
    border-radius: calc(var(--index));
    box-shadow: calc(var(--index)) calc(var(--index)*-1) calc(var(--index)) var(--colorCardSh);
}

.priceSVG {
    background-color: var(--colorBlue);
    width: calc(var(--index)*8);
    height: calc(var(--index)*8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 calc(var(--index)) var(--colorBg);

    svg {
        fill: var(--colorBg);
        width: calc(var(--index)*6);
        height: calc(var(--index)*6);
    }
}

.priceContentCont {
    width: 100%;
    margin-top: calc(var(--index)*2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.priceContentList {
    width: 75%;
    list-style: disc;
    font-weight: 500;
    font-size: calc(var(--index)*0.9);
    height: calc(var(--index)*15);
}

.priceContentItems {
    width: 100%;
    padding: calc(var(--index)*0.3) 0;

    span {
        max-width: 80%;
    }
}

.priceCena {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBlue);
    width: calc(var(--index)*8);
    height: calc(var(--index)*3);
    border-radius: calc(var(--index)*0.8);
    color: var(--colorBg);
    font-family: inherit;
    font-size: calc(var(--index)*1.2);
    letter-spacing: calc(var(--index)*0.15);
    box-shadow: inset 0 0 calc(var(--index)*0.5) var(--colorBg);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}