.HeaderList {
    display: flex;
    justify-content: space-between;
    font-family: var(--fontPoppins);
    font-weight: 520;
    color: var(--colorBlue);
    font-size: calc(var(--index) * 1.2);
    padding: calc(var(--index) * 0.5);

    section {
        cursor: pointer;
        transition: 0.7s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.HeaderIndividual {
    margin-right: calc(var(--index) * 2);
}
