.HeaderLang {
    display: flex;
    justify-content: center;
}

.langBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.drop-down-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: calc(var(--index)*5);
}

#LangArrow {
    width: calc(var(--index));
    fill: var(--colorBlue);
    fill: black;
    transition: 0.5s;
    width: 20%;
}

#LangBtnImg,
.language-img {
    width: calc(var(--index)*1.5);
    width: 40%;
    border-radius: calc(var(--index) * 0.2);
}

#LangBtnTitle,
.ListLanguage-title {
    width: 30%;
    font-family: var(--fontPoppins);
    font-size: calc(var(--index) * 0.8);
    color: var(--colorBlue);
    font-weight: 600;
    margin-left: calc(var(--index) * 0.3);
}

.language-menu {
    position: absolute;
    margin-top: calc(var(--index) * 6);
    display: none;
    flex-direction: column;
    width: 100%;
}

.language-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: calc(var(--index) * -0.3);

    &:last-child {
        margin-top: calc(var(--index));
    }
}