@import "./components/progWork";
@import "./components/progWife";
@import "./components/progChild";

.ProgramDeclorationWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorCardSh);
    z-index: 1;
    display: flex;
    justify-content: center;
    font-family: var(--fontPoppins);
    font-size: calc(var(--index));
    display: none;

    input {
        appearance: none;
        border: calc(var(--index) * 0.1) solid var(--cololBlack);
        border-radius: calc(var(--index) * 0.2);
        background-color: var(--colorWhite);
    }

    input[type="checkbox"] {
        appearance: none;
        border: calc(var(--index) * 0.1) solid var(--cololBlack);
        border-radius: calc(var(--index) * 0.2);
        cursor: pointer;

        &:checked {
            &::before {
                content: "\2713";
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 900;
                color: var(--colorRed);
            }
        }
    }
}

.ProgramDecloration {
    position: fixed;
    top: 5%;
    left: 2%;
    right: 2%;
    // width: 91%;
    height: 90vh;
    background-color: var(--colorDane);
    opacity: 1;
    z-index: 2;
    border-radius: calc(var(--index));
    display: flex;
    justify-content: center;
    padding: calc(var(--index));
}

.ProgTittle {
    font-weight: 600;
    font-size: calc(var(--index) * 1.2);
    margin-bottom: calc(var(--index));
}

.ProgBazeInfo {
    width: 98%;
    padding: calc(var(--index));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    position: relative;
}

.formInfoWrap {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: calc(var(--index));
        border-radius: calc(var(--index));
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: calc(var(--index));
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: calc(var(--index));
    }
}

#ProgCalcFree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: none;
}

.ProgExit {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: calc(var(--index) * 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;

    svg {
        width: calc(var(--index) * 1.8);
        height: calc(var(--index) * 1.8);
    }

    &:hover {
        transform: scale(1.1);
    }
}

.progButtonBlock {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--index) * 0.3);
    position: sticky;
    bottom: 0;
    margin-bottom: calc(var(--index) * 1.2);
    margin-top: calc(var(--index) * 0.5);
}

.buttonsSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--index));
}

.ProgCalcFreeResult {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--index) * 0.5);
    align-items: center;
    background-color: var(--colorBlue);
    border-radius: calc(var(--index));
    padding: calc(var(--index) * 0.5) calc(var(--index));
    color: var(--colorBg);
    font-size: calc(var(--index) * 1.1);
    box-shadow: inset 0 0 calc(var(--index) * 0.5) var(--colorBg);
    opacity: 0.8;
    transition: 1s;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.progButtonsButtons {
    display: flex;
    justify-content: space-around;
    gap: calc(var(--index) * 2);
}

#submitProgCalcFree {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--index) * 0.2);
    align-items: center;
    font-weight: 600;
    padding: calc(var(--index) * 0.4) calc(var(--index));
    border-radius: calc(var(--index) * 0.9);
    background-color: var(--colorBlue);
    color: var(--colorBg);
    fill: var(--colorBg);
    border: none;
    cursor: pointer;

    svg {
        width: calc(var(--index) * 1.5);
        height: calc(var(--index) * 1.5);
    }

    span {
        text-align: center;
    }
}

.ProgButtonPay {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--index) * 0.2);
    align-items: center;
    background-color: var(--colorBlue);
    color: var(--colorBg);
    padding: calc(var(--index) * 0.4) calc(var(--index) * 1.5);
    border-radius: calc(var(--index) * 0.9);
    cursor: pointer;

    svg {
        fill: var(--colorBg);
        width: calc(var(--index) * 1.5);
        height: calc(var(--index) * 1.5);
    }

    span {
        text-align: center;
    }
}