@import "./components/MainGeneral";
@import "./components/Functions";
@import "./components/Documents";
@import "./components/CalculationsTeg";
@import "./components/Price";
@import "./components/Contacts";

.mainWrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
