.childProgCalcFreeWrap {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: calc(var(--index) * 0.1) solid var(--cololBlack);
    padding: calc(var(--index) * 0.5);
    border-radius: calc(var(--index));
    margin-top: calc(var(--index) * 0.5);
}

.childProgCalcFree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
}

.childObjTittle {
    font-size: calc(var(--index));
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--index));
    text-align: center;
}

.childObj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: calc(var(--index));
    margin-bottom: calc(var(--index) * 0.5);
}

.childObjTittleBlock {
    font-weight: 600;
    font-size: calc(var(--index));
    margin: calc(var(--index) * 0.3) 0 calc(var(--index) * 0.5) 0;
}

.childObjContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.childMonth {
    width: 50%;
    display: flex;
    align-items: center;
}

.childMonthLab {
    width: 65%;
}

.childMonthInp {
    width: 15%;
}

.childZTP {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.childZTPInp {
    width: calc(var(--index) * 1.2);
    height: calc(var(--index) * 1.2);
    margin-left: calc(var(--index));
}

.svgContainerCloseChild {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(var(--index));
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        fill: var(--colorRed);
    }
}

.addChildButton {
    width: 30%;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: calc(var(--index) * 0.1);
    padding: calc(var(--index) * 0.1);
    font-size: calc(var(--index) * 0.8);
    border-radius: calc(var(--index) * 0.5);
}
