.HeaderTitle {
    transform: translate(0, 0);
    opacity: 0;
    transition: all 1s ease 0s;
}

//     transform: translate(0%, -100%);
//     opacity: 0;
//     transition: all 1s ease 0s;

// .HeaderIndividual,
// .HeaderEntity {
//     transform: translate(0%, -100%);
//     opacity: 0;
//     transition: all 1s ease 0s;
// }

.HeaderList,
.headerNavMenu,
.HeaderLang {
    transform: translate(0%, -50%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.mainGeneralText {
    transform: translate(60%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.mainGeneralImg {
    transform: translate(-60%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.lsgFunctionsTitle,
.calculationTeg,
.lsgDocumentsTitle,
.lsgContactsTitle {
    transform: translate(0%, 0%);
    opacity: 0;
    transition: all 2s ease 0s;
}
.functionContentCards1 {
    transform: translate(30%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.functionContentCards2 {
    transform: translate(30%, 0%);
    opacity: 0;
    transition: all 1.5s ease 0s;
}
.functionContentCards3 {
    transform: translate(10%, 0%);
    opacity: 0;
    transition: all 2s ease 0s;
}

.lsgPriceTitle {
    transform: translate(0%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.priceContentLow {
    transform: translate(30%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.priceContentMedium {
    transform: translate(30%, 0%);
    opacity: 0;
    transition: all 1s ease 0.5s;
}
.priceContentHigh {
    transform: translate(30%, 0%);
    opacity: 0;
    transition: all 1s ease 1s;
}
.documentsDetailsListFirst {
    transform: translate(20%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.documentsDetailsListSecond {
    transform: translate(20%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.SendEmailForm {
    transform: translate(40%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.footerItems {
    transform: translate(0%, -100%);
    opacity: 0;
    transition: all 1s ease 0s;
}

._active {
    transform: translate(0%, 0%);
    opacity: 1;
    visibility: visible;
}
