:root {
    --index: (1vh + 1vw);
    --colorBlue: #0e0774;
    --cololBlack: #070707;
    --fontPoppins: "Poppins", sans-serif;
    --colorBg: rgb(233, 232, 232);
    --colorCardSh: rgba(233, 232, 232, 0.6);
    --colorWhite: #fff;
    --cololGray: gray;
    --colorDane: #ffdddd;
    --colorRed: red;
}
